<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="{{ url_for('index') }}" class="w3-bar-item w3-button"><b>Home</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="{{ url_for('first') }}" class="w3-bar-item w3-button">Global</a>
      <a href="{{ url_for('city') }}" class="w3-bar-item w3-button">National</a>
      <a href="{{ url_for('national') }}" class="w3-bar-item w3-button">Machine Learning</a>
    </div>
  </div>
</div>
<div class="w3-container w3-padding-32" id="about">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">COVID-19 National Statistics</h3>
  <p>Some differences in the number of cases or the rate of COVID cases within groups could be for other reasons. As has been seen in many cities, African Americans have the highest number of COVID cases in Philadelphia. They are also the largest racial group in the City’s population. It is hard to know if the risk of getting COVID is higher for African Americans than for other groups, because we do not know the race of many COVID cases. We are working hard to fill in this missing information, because we will use it to guide our response to this outbreak to minimize any differences in the risk of getting COVID-19.
  </p>
</div>
<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plotly.com/~Nickszabo21/13.embed" height="525" width="100%"></iframe>
<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plotly.com/~Nickszabo21/19.embed" height="525" width="100%"></iframe>
<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plotly.com/~Nickszabo21/21.embed" height="525" width="100%"></iframe>

<footer class="w3-center w3-black w3-padding-16">
  <p>TeamCOVID - UT Data Analysis and Visualization 2020 </a></p>
</footer>
</body>
</html>