<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="{{ url_for('index') }}" class="w3-bar-item w3-button"><b>Home</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="{{ url_for('first') }}" class="w3-bar-item w3-button">Global</a>
      <a href="{{ url_for('city') }}" class="w3-bar-item w3-button">National</a>
      <a href="{{ url_for('national') }}" class="w3-bar-item w3-button">Machine Learning</a>
    </div>
  </div>
</div>
<div class="w3-container w3-padding-32" id="about">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Using Facebook Prophet</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<img src= "static/comp.png">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
  laboris nisi ut aliquip ex ea commodo consequat.
</p>

<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plotly.com/~caustin9/2.embed" height="525" width="100%"></iframe>


<div class="w3-container w3-padding-32" id="about">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Using SciKit-Learn</h3>
  <p>When taking the idea of applying Machine Learning to the tricky situation of COVID-19 one of the first parts we thought about are what climactic features may effect the number of cases that are found. The feature we had heard a lot about on the news, yet found very low data to support was the affect of temperature on the virus. This was the main idea we hoped to prove or disprove. With little available data regarding the virus this was a tough task.
  </p>


  <!-- <img align="middle" src="static/scatter_plot.png" /> -->
  <p style="text-align:center;"><img src="static/scatter_plot.png" alt="Logo"></p>

</div>

<footer class="w3-center w3-black w3-padding-16">
  <p>TeamCOVID - UT Data Analysis and Visualization 2020 </a></p>
</footer>
</body>
</html>